# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes

# JS
node_modules
src/main/resources/assets/oc-js/bios
src/main/resources/assets/oc-js/os
.baseDir.tsW
.tscache

# Natives
native/cmake-build-debug
native/gen/
native/v8/
native/spidermonkey/

# sim stuff
os.js/simulator/root
os.js/simulator/bios.js
os.js/simulator/bootloader.js